@{
    ViewData["Title"] = "Email Confirmed";
}

<div class="container mt-5 text-center">
    <h2 class="text-success">Email confirmed successfully 🎉</h2>

    <p class="lead">Your account is now activated. You can login now.</p>

    <a asp-controller="Account" asp-action="Login" class="btn btn-primary">
        Go to Login
    </a>
</div>